
.container{
  display: flex;
  flex-wrap: wrap;

}
 .item {
  float: left;
  flex: 1;
  text-align: center;
}




.piechart {
    
}

.piechart-message {

}

.input-group-addon {
    clear: both;
    padding: 2px 6px;
}

.piechart-infoTextNode {
    padding: 0.8em 1em;
    margin-top: 10px;
}