
#mxgit-marker-start
Project\App-main/.svn
Project\App-main/modeler-merge-marker
Project\App-main/.mendix-cache
Project\App-main/*.mpr.lock
Project\App-main/*.mpr.bak
Project\App-main/*.mpr.left*
Project\App-main/*.mpr.right*
Project\App-main/.settings
Project\App-main/deployment
Project\App-main/releases
proxies
*.launch
.classpath
.project
#mxgit-marker-end

#mxgit-marker-start
./.svn
./modeler-merge-marker
./.mendix-cache
./*.mpr.lock
./*.mpr.bak
./*.mpr.left*
./*.mpr.right*
./.settings
./deployment
./releases
#mxgit-marker-end
