/* ==========================================================================
   Products

   Used in Website page templates
========================================================================== */
.product-header {
	/* Styles here */
}
.product-content {
	/* Styles here */
}
.product-title {
	color: $color-text-white;
	font-weight: 100;
}
.product-subtitle {
	color: $color-text-white;
	font-weight: 100;
}
.product-btn {
	/* Styles here */
}
