/* ==========================================================================
   Section Header
========================================================================== */
.sectionheader {
	background-color: none;
	border-bottom:none;
}
.sectionheader-title {
	color: #fff;
}
.sectionheader-subtitle {
	color: #fff;
}
.sectionheader-avatar {
	/* Styles here */
}
