<div data-dojo-attach-point="MRGaoImageRoot">
    <div data-dojo-attach-point="gaoGrid" id="myGrid" class="container"  data-masonry='{ "itemelector": ".item", "columnWidth": 200 }'>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" width="200px" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" width="100px" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" width="100px" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" width="200px" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" width="100px" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" width="100px" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" />
            <p>描述文字</p>
        </div>
        <div class="item"><img src="http://pic36.nipic.com/20131221/8097124_025507510000_2.jpg" />
            <p>描述文字</p>
        </div>

    </div>
</div>
